<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         colors="true"
>
    <php>
      <ini name="safe_mode_allowed_env_var" value="PHP_,PHPSWITCH"/>
      <env name="PHPSWITCH_ROOT" value=".phpswitch"/>
      <env name="PHPSWITCH_HOME" value=".phpswitch"/>
      <env name="PHPSWITCH_EXTENSION_DIR" value="tests/fixtures/ext"/>
      <env name="PHPSWITCH_FIXTURES_PHP_DIR" value="tests/fixtures/php"/>
      <env name="PHPSWITCH_EXPECTED_PHP_DIR" value="tests/expected/php"/>
      <env name="PHPSWITCH_BUILD_PHP_DIR" value="tests/build"/>
    </php>

    <testsuites>
        <testsuite name="PHPSwitch">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
      <whitelist>
        <directory>src</directory>
      </whitelist>
    </filter>

</phpunit>
